
body{
	background-image: linear-gradient(to right, #31da59, #17b375);
	margin-top: 150px;
}
h1,p{
	font-family: Calibri;
}
#fs{
	font-size: 19px;
}
form{
	max-width: 400px;
	height: 450px;
	background-color: white;
}
input{
	width: 270px;
	height: 30px;
	background-color: #8080801f;
	color: #e8e1e11f;
	border: none;
	font-size: 16px;
	padding: 10px;
}
button{
	width: 290px;
	height: 50px;
	background-image: linear-gradient(to right, #31da59, #17b375);
	color: #e6e3e3d9;
	border: none;
	font-size: 16px;
}
span{
	color: #1ab970;
}
#cl{
	color:#808080a3;
}