body{
    margin: auto;
    padding: 0;
}
.top-menu{
    background-color: black;
    height: 150px;
}
.logo{
    color: white;
    width: 30%;
    height: 100%;
    float: left;
}
.logo img{
    width: 40%;
    height: 150px;
    margin-left: 30%;
}
.sponsor{
    width: 70%;
    height: 100%;
    float: left;
}
.sponsor img{
    padding: 30px;
    width: 70%;
    margin-right: 40px;
}
.menu{
    background-color: red;
    height: 52px;
}
.menu-box{
    background-color: seagreen;
    height: 100%;
}
.menu-box ul{
    list-style-type: none;
    padding: 0%;
    margin: 0;
    text-align: center;
}
.menu-box ul li{
    display: inline;
}
.menu-box ul li a{
    text-decoration: none;
    font-size: 20px;
    color: seashell;
    padding: 15px 18px;
    display: inline-block;
    font-weight: bold;
}
.menu-box ul li a:hover{
    background-color: darkred;
}
.news{
    margin: 0% 5%;
    height: 500px;
    margin-top: 10px;
    margin-left: 11%;
}
.content{
    width: 60%;
    height: 100%;
    float: left;
}
.ads{
    width: 30%;
    height: 100%;
    float: left;
}
.asd-box1{
    width: 100%;
    height: 50%;
    margin-bottom: 1px;
}
.box1{
    width: 50%;
    height: 100%;
    float: left;
}
.box2{
    width: 50%;
    height: 100%;
    float: left;
}
.box1-img1{
    width: 100%;
    height: 50%;
}
.box1-img1 img{
    width: 100%;
    height: 100%;   
}
.box1-img2 img{
    width: 100%;
    height: 100%;
}
.box1-img2{
    width: 100%;
    height: 50%;
    float: left;
}
.box2-img1{
    width: 100%;
    height: 50%;
    float: left;
}
.box2-img2{
    width: 100%;
    height: 50%;
    float: left;
}
.box2-img1 img{
    width: 100%;
    height: 100%;
}
.box2-img2 img{
    width: 100%;
    height: 100%;
}
.ads-box1{
    width: 99%;
    height: 49.5%;
    margin-left: 1%;
}
.ads-box1 img{
    width: 100%;
    height: 100%;
}
.ads-box2{
    width: 99%;
    height: 49.5%;
    margin-top: 1%;
}
.ads-box2 img{
    width: 100%;
    height: 100%;
    margin-left: 1%;
}
.footer{
    height: 250px;
    background-color: black;
    margin-top: 1%;
}
.contact{
 background-color: red;
 width: 33%;
 height: 90%;
 float: left;
 margin-top: 10px;
 margin-left: 10px;
 box-sizing: border-box;
}
.about-us{
    background-color: red;
    width: 32.5%;
    height: 90%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}
.location{
    background-color: red;
    width: 32%;
    height: 90%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
   }


   /* ============ Descripton_Style============ */
.box-descripton{
    width: 80%;
    height: 3000px;
    /* background-color: red; */
    margin-left: 10%;
    margin-top: 1%;
}
.box-content{
    width: 69%;
    height: 100%;
    margin-right: 1%;
    float: left;
}
.box-ads{
    width: 30%;
    height: 100%;
    float: left;
    /* background-color: royalblue; */
}
h2{
    margin-left: 14%;
    margin-right: 14%;
}
.time-line{
    /* background-color: white; */
    height: 2%;
    margin-left: 14%;
    margin-right: 14%;
}
.time-line ul{
    list-style-type: none;
    padding: 20px;
    text-align: right;
    border-bottom: 3px solid black;
}
.time-line ul li{
    display: inline;
}
.time-line ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 20px;
}
.time-line ul li:first-child{
    float: left;
    margin-top: 0;
}
p{
    margin-left: 14%;
    margin-right: 14%;
}
.des-img{
    margin-left: 14%;
    margin-right: 14%;
}
/* ==============ads-list============= */
.action-ads{
    width: 100%;
    height:2%;
    /* background-color: rgb(77, 17, 17); */
    float: left;
    margin-bottom: 5%;
}
.action-ads img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.pic-ads{
    width: 100%;
    height: 10%;
    float: left;
    margin-bottom: 5%;
    /* background-color: violet; */
}
.pic-ads img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}
.info-ads{
    width: 100%;
    height: 25%;
    float: left;
    margin-bottom: 7%;
    /* background-color: green; */
}
.info-ads .video-title{
    width: 100%;
    height: 100%;
    /* background-color: coral; */
    float: left;
}
.info-ads video{
    width: 100%;
    height: 100%;
}
.video-title .vdo{
    width: 50%;
    height: 20%;
    /* background-color: orangered; */
    float: left;
}
.vdo-title{
    width: 50%;
    height: 20%;
    /* background-color: pink; */
    float: left;
    box-sizing: border-box;
}