.navbar{
	background-color: #d9ccc3;
	height: 70px;
}
.left{
	width: 30%;
	float: left;
}
.left h3{
	text-align: right;
	margin-top: 25px;
	font-family: arial;
}
.right{
	width: 70%;
	float: right;
}
.right ul{
	list-style: none;
}
.right ul li{
	float: left;
	padding:10px;
}
.right ul li a{
	text-decoration: none;
	color: #ab2900;
	font-family: arial;
	margin-left: 30px;
}
.right ul li a:hover{
	color: #d0bc08;
}
/*---------------container----------------------*/
.content{
	position: relative;
	text-align: center;
}
.content img{
	width: 100%;
}
.content .container{
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 20px;
	width: 60%;
	transform: translate(-50%, -50%);
	background-color: rgb(0,0,1,0.5);
}
.content .container h1{
	font-family: arial;
	font-size: 50px;
	color: #0688ba;
}
.content .container p{
	font-family: arial;
	font-size: 16px;
	color: #e2e2e2;
	margin-bottom: 30px;
}
.content .container button{
	background-color: #0688ba;
	padding: 10px 50px;
	outline: none;
	border: none;
	cursor: pointer;
}
.content .container button a{
	text-decoration: none;
	color: black;
}
.content .container button a:hover{
	color: #e2e2e2;
}
/*---------------about----------------------*/
.about{
	text-align: center;
}
.about h1{
	color: #00bcd4;
	font-family: arial;
}
.about p{	
	font-family: arial;
}
/*---------------buttom----------------------*/
.buttom{
	background-color: #d9ccc3;
	height: 200px;
}
.st{
	float: left;
	width: 40%;
}
.st h3{
	text-align: center;
	font-size: 32px;
	font-family: arial;
	margin-top: 90px;
	color: #015980;
}
.bt{
	float: left;
	width:20%;
	margin-top: 40px;
}
.bt p{
	font-size: 16px;
	font-family: arial;
	margin-left: 30%;
}
.bt p:hover{
	cursor: pointer;
}
.dv{
	width: 40%;
	float: right;
}
.dv p{
	font-size: 14px;
	font-family: arial;
	text-align: center;
	margin-top: 10%;
	color: #ab2900;
}