body{
	background-color: green;
	margin-top: 200px;
}

.container{
	width: 350px;
	 background-color: white;
	 padding: 20px;
	 border-radius: 4px;
	 margin: 0 auto;
	 text-align: center;
 }
	
 input[type=text]{
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #8B989B;
 }
 input[type=submit]{
              
	border: none;
	border-radius: 4px;
	 width: 100%;
	 padding: 14px;
	 background-color: green;
	 color: aliceblue;
	 cursor: pointer;
   }
   input[type=submit]:hover{
	   background-color: orange;
   }
   
   