body {
    margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ad0000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:hover {
  background-color: #f1abab;
}
li.img_logo:hover {
    background-color: #ad0000;
}
ul li.img_logo {
    padding: 1px 10px;
}
li.img_logo a {
    padding: 0;
}
ul li {
    padding: 10px 10px;
}
ul li a {
    font-size: 20px;
}
img.logo {
    width: 64px;
    padding: 0 90px;
}
.logo_col {
    float: left;
    width: 20%;
}
.nav_col {
    float: left;
    width: 80%;
}
section {
    margin: 0 15px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
}

.grid-item {

}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.grid-item.item2 {
    border: 2px solid;
}
img.imgs {
    width: 650px;
}

.title {
    width: 50%;
}
h1#title_entertainment {
    background-color: aquamarine;
    padding: 10px;
    color: darkslategrey;
}
h1#title_technology {
    background-color: #4578d6;
    padding: 10px;
    color: #da0000;
}